<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  
<style>
* {
  box-sizing: border-box;
  font-family: Calibri, sans-serif;
}

body {
  margin: 20;
  font-family: Calibri, sans-serif;
}

.header {
  background-color: #000000;
  padding: 30px;
  text-align: center;
}

.content {
  background-color: #FFFFFF;
  padding: 10px;
  height: 50px;
}

.footer {
  background-color: #000000;
  padding: 30px;
}
</style>
</head>
<body>

<div class="header">
  <img src="https://user-images.githubusercontent.com/69354578/215386416-600daf55-1de5-4c30-813a-7dca9b57c612.png" width=600>
</div>

<div class="footer">
  <p>Footer</p>
</div>

</body>
</html>
